.card {
  background-color: #e9e9e9;
  width: 328px;
  height: 328px;
  position: relative;
  display: flex;
  justify-content: center;
  border-radius: 19px;
  border: 1px solid #0000004d;
  overflow: hidden;
}
.card__name {
  display: inline;
  background-color: #ffffff;
  padding: 2px 12px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
}

.card__title {
  line-height: 20px;
  position: absolute;
  top: 15px;
  margin: 0;
}

.card__heart {
  margin-left: 10px;
  vertical-align: middle;
  height: 18px;
  width: 15px;
}

.card__heart:hover {
  cursor: pointer;
}
