.header {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 28px;
  font-family: "Cabinet Grotesk Regular";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__logo {
  margin-right: 24px;
}

.header__date-location {
  margin: 0;
}

.header__add-clothes-btn {
  all: unset;
  margin-left: 20px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-left: 20px;
}

.header__username {
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__link_bold {
  font-weight: 900;
}

.header__avatar {
}
