.footer {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  margin-bottom: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
